*{
    margin: 0;
}
App{
    color: #3d2903;
    height: 100vh;
    display: flex;
    margin: 0 auto;
    padding: 0 1%;
    align-items: center;
}
ul{
    padding: 0 !important;
    text-align: left;
}