.quiz--question__component > p {
  font-family: 'sans serif';
  color: #272426;
  font-size: 1.2em;
  margin: 3mm 1%;
  text-align: left;
}
h4{
  margin: 0 1%;
  font-family: 'Playfair Display', serif;
}
