@media screen and (max-width:1024px){
    .row{
        text-align: center;
        padding-left: 30px;
    }
}

@media screen and (max-width:820px){
    .row{
        text-align: center;
        padding-left: 30px;
    }
}

@media screen and (max-width:760px){
    .row{
        text-align: center;
        padding-left: 30px;
    }
}

/* @media screen and (max-width:660px){
    .row{
        text-align: center;
        padding-left: 30px;
    }
} */

/* @media screen and (max-width:600px){
    .row{
        text-align: center;
        padding-left: 30px;
    }
} */

@media screen and (max-width:450px){
    .row{
        text-align: center;
        padding-left: 30px;
    }
}

/* @media screen and (max-width:360px){
    .row{
        text-align: center;
        padding-left: 30px;
    }
} */

/* @media screen and (max-width:300px){
    .row{
        text-align: center;
        padding-left: 30px;
    }
} */
