.quiz--number__component {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  border-radius: 1mm;
  color: #272426;
  padding: 2mm 0;
}
h6{
  font-family: 'Open Sans', sans-serif;
  display: inline;
  padding: 0 0.1em 2em 0.1em;
}
.progress {
  font-family: 'Open Sans', sans-serif;
}
.progress-bar {
  background-image: -webkit-linear-gradient(top, #276a7c, #175263);
  background-image: linear-gradient(to bottom, #276a7c, #175263);
}
