.btn-submit:hover {
  opacity: 0.9;
}
.btn {
  width: 15%;
  margin-left: 3mm;
  margin-right: 3mm;
}

@media screen and (max-width:1024px){
  .apply-btn{
      text-align: right !important;
  }
  .apply-btn .btn{
    width:20%;
  }
}

@media screen and (max-width:450px){
  .apply-btn{
      text-align: center !important;
  }
  .apply-btn .btn{
    width:35%;
  }
}


@media screen and (max-width:300px){
  .apply-btn{
      text-align: center !important;
  }
  .apply-btn .btn{
    width:45%;
  }
}
