.btn-submit{
  font-family: 'Playfair Display', serif;
  background-image: -webkit-linear-gradient(top, #84123c, #630a2a);
  background-image: linear-gradient(to bottom, #84123c, #630a2a);
  border-radius: 4px;
  color: #fff;
  line-height: 50px;
  -webkit-transition: none;
  transition: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .3);

  
}

.btn-submit:hover {
    background-image: -webkit-linear-gradient(top, #a33e63, #a33e63);
    background-image: linear-gradient(to bottom, #a33e63, #a33e63);
  }

.btn-submit:focus,
.btn-submit:active {
  outline:none !important;
  box-shadow:none !important;
}

.tran{
  font-weight: 300;
  outline:none !important;
  box-shadow:none !important;
  border-color: black !important;
  color: white !important;
  border: none !important;
  border-radius: 0rem !important;
}


@media screen and (max-width:1024px){
  .apply-btn{
      text-align: right !important;
  }
  .apply-btn .btn{
    width:20%;
  }
}

@media screen and (max-width:450px){
  .apply-btn{
      text-align: center !important;
  }
  .apply-btn .btn{
    width:35%;
  }
}


@media screen and (max-width:300px){
  .apply-btn{
      text-align: center !important;
  }
  .apply-btn .btn{
    width:45%;
  }
}
