.quiz--number__component {
  margin: 0 1%;
  font-family: 'Playfair Display', serif;
  width: 100%;
  border-radius: 1mm;
  color: #272426;
  padding: 2mm 0;
}
h6{
  font-family: 'Playfair Display', serif;
  display: inline;
  padding: 0 0.1em 2em 0.1em;
}
