.quiz--number__component {
  width: 100%;
  border-radius: 1mm;
}
.quiz--number__component > h2 {
  color: #11070f;
  margin-bottom: 0;
  padding: 2mm 0;
}
h5{
  display: inline;
  padding: 0 0 2em 0;
}
