.quiz--number__component {
  margin: 0 1%;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  border-radius: 1mm;
  color: #272426;
  padding: 2mm 0;
}
h6{
  font-family: 'Open Sans', sans-serif;
  display: inline;
  padding: 0 0.1em 2em 0.1em;
}
.progress {
  background-color: white;
}
.progress-bar {
  background-image: -webkit-linear-gradient(top, #bfa865, #b39847);
  background-image: linear-gradient(to bottom, #bfa865, #b39847);
}
