.react-responsive-modal-modal{
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border-bottom: 8px solid #bf9b63;
    border-top: 8px solid #bf9b63;
    border-left: 8px solid #bf9b63;
    border-right: 8px solid #bf9b63;
    border-image-slice: 5;
}

#instruction{
    font-size: "1.2em"
}
.react-responsive-modal-closeButton{
    display: none;
}
@media screen and (max-width:425px){
    .react-responsive-modal-modal{
    width: 100%;
    }
    #instruction{
        font-size: "1em"
    }
}