.react-responsive-modal-modal{
    font-family: 'sans serif';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    // border: #d4af37 5px solid;  
    border-image: linear-gradient(to right,#C5B358 , #CFB53B);
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-image-slice: 5;
}
.react-responsive-modal-closeButton{
    display: none;
}