.header {
    position: absolute;
    margin-top: 20px;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    font-family: 'Open Sans', sans-serif;
  
    .logo-container {
      height: 100%;
      padding: 25px;

      img{
        width: 50px;
      }
    }
  }
  