#background{
  background-color: rgb(236, 233, 233);
  width: 100vw;
  height: 100vh;
}

#container{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -50px;
    margin-top: -10px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    z-index: 3000;
  }
  #container span{
    display: block;
    background: #3d2903;
    width: 100px;
    height: 5px;
    margin-top: 5px;
    animation: load 2s infinite;
    border-radius: 5px;
  }
  .loading{
    color: #3d2903;
  }
  
  #container span:nth-child(2){animation-delay: 100ms;}
  #container span:nth-child(3){animation-delay: 200ms;}
  
  @keyframes load{
    50%{
      width: 5px;
      margin-right: 95px;
      opacity: .1;
    }
  }