.tran{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    outline:none !important;
    box-shadow:none !important;
    color: white !important;
    border: none !important;
    border-radius: 0rem !important;
  }