*{
width: 100%;
}
.App{
height: 100vh;
display: flex;
margin: 0 auto;
padding: 0 1%;
align-items: center;
}
ul{
    padding: 0;
    text-align: left;
}

@media screen and (max-width:1024px){
    .App{
        display:block;
    }
}

@media screen and (max-width:820px){
    .App{
        display:block;
    }
}

@media screen and (max-width:760px){
    .App{
        display:block;
    }
}

/* @media screen and (max-width:660px){
    .App{
        display: block;
    }
} */

/* @media screen and (max-width:600px){
    .App{
        display: block;
    }
} */

/* @media screen and (max-width:450px){
    .App{
        display: block;
    }
} */

/* @media screen and (max-width:360px){
    .App{
        display: block;
    }
} */