*{
    margin: 0;
}
App{
    color: #3d2903;
    height: 100vh;
    display: flex;
    margin: 0 auto;
    padding: 0 1%;
    align-items: center;
}
ul{
    padding: 0 !important;
    text-align: left;
}

.admin-header{
    position: fixed;
    z-index: 2000;
    width: 100vw;
    height: 30px;
    background-color: #111;
    color: #fff;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;

    a{
        color: #fff !important;
        font-weight: 200 !important;
        text-decoration: underline !important;
    }

    .options {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    
        .option {
          padding: 10px 15px;
          cursor: pointer;
        }
      }
}