.button{
  background-image: -webkit-linear-gradient(top, #93898c, #7f7679);
  background-image: linear-gradient(to bottom, #93898c, #7f7679);
}
.button:hover {
  background-image: -webkit-linear-gradient(top, #c1b8bb, #ada1a4);
  background-image: linear-gradient(to bottom, #c1b8bb, #ada1a4);
}

.btn-selected {
  background-image: -webkit-linear-gradient(top, #17a2b8, #1594a8);
  background-image: linear-gradient(to bottom, #17a2b8, #1594a8);
  border:none;
}

@media screen and (max-width:1200px){
  .btn-selected{
    height: 30px !important;
    padding: 0px !important;
  }
  .btn-unselected{
    height: 30px !important;
    padding: 0px !important;
  }
}

@media screen and (max-width:450px){
  .btn-selected{
    margin: 1% !important;
    width: 15% !important;
    height: 30px !important;
    padding: 0px !important;
  }
  .btn-unselected{
    margin: 1% !important;
    width: 15% !important;
    height: 30px !important;
    padding: 0px !important;
  }
}

@media screen and (max-width:360px){
  .btn-selected{
    margin: 2% !important;
    width: 15% !important;
    height: 30px !important;
    padding: 0px !important;
  }
  .btn-unselected{
    margin: 2% !important;
    width: 15% !important;
    height: 30px !important;
    padding: 0px !important;
  }
}


